@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
  
body{
  justify-content: center;
  align-items: center;
}

body.scrolling-down nav {
  top: -80px;
}
/* ------------------------- NAGŁÓWEK który jest paskiem -----------------------------------------------*/
/* nagłówek jest paskiem w którym wyświetlają się elementy */

/* pasek nawigacyjny */
nav {
  height: 80px;

  position: fixed;
  top: 0;
  left: 0;
  background-color: #3498db;
  color: white;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the object is on top of other elements */

  transition: top 0.5s;
}

/* Styling for the logo image */
.logo {
  height: 60px;
}

/* Styling for sections */
.section {
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
}

.sections {
  margin-left: 20px;
  margin-right: 116px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Allows sections to take up remaining space */
}

/* Styling for the "Cart" button */
.cart {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Styling for the cart image in the button */
.cart-image {
  height: 40px;
  margin-right: 5px;
}


/* ------------------------- Zdjęcie na którym są napisy ------------------------------------------------------------*/

.image-container {
  position: relative;
  width: 100%;
  
  margin: 0 auto; /* Centralizacja kontenera */
}

.image-container img {
  width: 100%;
  height: auto; /* Automatyczne skalowanie wysokości, aby zachować proporcje */
  display: block; /* Usunięcie odstępów na górze i dołu */
  margin: 0 auto; /* Centralizacja obrazu wewnątrz kontenera */
  filter: brightness(60%); /* Przyciemnienie zdjęcia (tak aby tekst był bardziej widoczny */
}

.image-header, .image-description { /* przekształcić to w jedną klasę muszę */
  position: absolute;
  
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.image-header {
  top: 20%; /* 20% odnosi się do rozmiaru image-cointainer*/
  font-size: 3em;
}

.image-description {
  top: 50%; /* 80% odnosi się do rozmiaru image-cointainer*/
  font-size: 1.5em;
}

/* --------------------------- SEKCJA z autorami strony ---------------------------------------------------------------------*/
.autorzy-container {
  display: flex;
  align-items: flex-start;
  margin: 20px auto; /* Centralizacja kontenera i dodatkowy margines */
  padding: 20px;
}

.autorzy-img-i-text-container{
  width: 100%;
  height: 100%;
  flex: 1; /* 1 1 auto (większy odstęp)*/
  margin-right: 20px; /* Odstęp między obrazem a tekstem */
  float:left;
  
}

.autorzy-img-i-text-container img {
  width: 500px;
  height: 500px;
  flex: 1;
  margin-right: 20px;
} 

.autorzy-text-container {
  flex: 1; /* Kontener tekstu zajmuje większą elastyczną przestrzeń */
  text-align: center;
}

.autorzy-text-container p,h1,t {
  margin: 0 0 10px; /* Dodatkowy margines na dole każdego nagłówka */
}

.autorzy-text-container p {
  color: grey
}

opis{
  font-family: 'Courier New', Courier, monospace;
  
}

/* ------------------------------------------ Trzy zdjęcia --------------------------------------------------------------- */

.info-sections{
  display: grid;
  place-items: center;

  width: 100%;
  min-height: 100vh;
}

.info-section{
  display: grid;
  overflow-x: hidden;

  width: 80%;
  max-width: 1200px;

  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 5rem 0;
}

.info-imgwrapper{
  overflow: hidden;
}

.info-imgwrapper img{
  width: 100%;
  height: 100%;

  object-fit: cover;
  transition: 0.5s;
}

.info-imgwrapper:hover img{
  transform: scale(1.25);
}

.info-contentwrapper{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding-left: 30px;
}

span.info-textwrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 20px;
  text-transform: capitalize;
  
  gap: 15px;
  margin-bottom: 20px;
}

span.info-textwrapper span{
  display: inline-block;
  background: #3498db;
  width: 70px;
  height: 5px;
}

.info-content h2{
  font-size: 40px;
  font-weight: 700;
  color: #3498db;
  padding-bottom: 20px;
}

.info-content p{
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 25px;
}

.info-content a{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: #3498db;
  color: #fff;
  padding: 15px 40px;
  letter-spacing: 1px;
}
/* ------------------------------------------ Tabela z mockaroo  ------------------------------------------ */

td img{
    width: 36px;
    height: 36px;
    
    vertical-align: middle;
}

table, th, td{
    border-collapse: collapse;
    padding: 10px;

    text-align: left;
}

table{
    width: 100%;
}

thead th{
    position: sticky;
    top: 0;
    left: 0;

    background-color: #d5d1defe;
}

tbody tr:nth-child(even){
    background-color: #0000000b;
}

tbody tr:hover{
    background-color: #fff6;
}

.table-container{
  display: flex;
  justify-content: center;
}

.table{
    width: 80vw;
    height: 90vh;

    background-color: #FFF5;
    backdrop-filter: blur(7px);
    box-shadow: 0 8px 12px #0005;
    border-radius: 10px;

    overflow: hidden;
}

.table_header{
    width: 100%;
    height: 10%;

    background-color: #3498db;
    padding: 10px 12px
}

.table_content{
    width: 95%;
    max-height: calc(89% - 20px);
    background-color: #fffb;

    margin: 10px auto;
    border-radius: 8px;

    overflow: auto;
}

.table_content::-webkit-scrollbar{
    height: 6px;
    width: 6px;
}

.table_content::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background-color: #0004;
    visibility: hidden;
}

.table_content:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}


/* ---------------------------- Stopka strony -------------------------------------- */
.stopka {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  /* height: 200px; /* Wysokość stopki */
  padding-bottom: 0px; /* dzięki temu napis 'opon express' jest na samym dole stopki */
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 50px;
  display: flex;
  flex-direction: column; /* Wyświetlanie się elementów pod sobą */
  align-items: center;
}

.social-media-box {
  display: flex;
  margin-left: 100px; 
}
.social-media {
  margin-top: 10px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.social-media img {
  max-width: 50px;
  max-height: 50px;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.stopka-content {
  display: flex;
  justify-content: space-around; /* ustawianie się elementów wraz z przerwami między nimi wzdłuż osi flexdirection: row*/
  align-items: stretch; /* wypełnianie się w pionie */
  flex-direction: row; /* dzięki temu kolumny ustawiają się obok siebie a nie pod sobą */   
}

.column {
  max-width: 300px;
  margin: 50px; /* Miejsce między kolumnami */
  padding: 15px;
  /* border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(253, 253, 253, 0.1); */
}

.column p {
  cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------- */